<form role="form">
  <div class="form-group">
    <label for="project">Project</label>
    <select name="project" id="project" class="form-control" ng-model="config.project">
      <option value="All">All</option>
      <option ng-repeat="project in vm.projects | orderBy: 'name'" value="{{project.id}}">{{project.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="assgined_to_id">Assigned to</label>
    <span class="glyphicon glyphicon-info-sign" uib-tooltip="Get issues which are assigned to the given user ID.
    <me> can be used instead an ID to fetch all issues from the logged in user. Leave empty if you want to see all issues."></span>
      <input name="assigned_to_id" id="assgined_to_id" class="form-control" ng-model="config.assigned_to_id">
      </input>
  </div>
  <div class="form-group">
    <input type="checkbox"
           name="showClosed"
           ng-model="config.showClosed">
    Show closed Issues
  </div>
  <div class="form-group">
    <label for="project">Columns to show:</label>
    <li class="list-group-item" ng-repeat="(key, entry) in vm.possibleColumns">
      <input type="checkbox"
           name={{key}}
           ng-model="config.columns[key].show">
      {{entry.name}}
    </li>
  </div>
</form>
