<form name="chartEditForm" role="form">
  <div class="form-group">
    <label for="project">Project</label>
    <span class="grey glyphicon glyphicon-info-sign ng-scope"
          tabindex="0"
          ng-focus="projectTooltipIsOpen = !projectTooltipIsOpen"
          tooltip-trigger="outsideClick"
          tooltip-is-open="projectTooltipIsOpen"
          ng-mouseenter="projectTooltipIsOpen = !projectTooltipIsOpen"
          uib-tooltip="Choose a project"
          tooltip-placement="top"
          aria-label="Choose a project"></span>
    <select name="project" id="project" class="form-control" ng-model="vm.config.project" ng-change="vm.checkUpdates()"
            ng-required="true">
      <option value="All">All</option>
      <option ng-repeat="project in vm.projects | orderBy: 'name'" value="{{project}}">{{project.name}}</option>
    </select>
  </div>

  <p class="input-group">
    <label for="Filter">Add Filter</label>
    <span class="grey glyphicon glyphicon-info-sign ng-scope"
          tabindex="0"
          ng-focus="filterTooltipIsOpen = !filterTooltipIsOpen"
          tooltip-trigger="outsideClick"
          tooltip-is-open="filterTooltipIsOpen"
          ng-mouseenter="filterTooltipIsOpen = !filterTooltipIsOpen"
          uib-tooltip="Add optional filters like assignee, version or tracker type"
          tooltip-placement="top"
          aria-label="Add optional filters"></span>
    <select name="filter" id="filter" class="form-control" ng-model="vm.filterToAdd"
            ng-change="vm.addFilter(vm.filterToAdd)">
      <option ng-repeat="filter in vm.filters | orderBy: 'name'" value="{{filter.id}}">{{filter.name}}</option>
    </select>
  </p>

  <div ng-if="vm.config.filterWithVersion">
    <label for="version">Fixed Version</label>
    <span class="grey glyphicon glyphicon-info-sign ng-scope"
          tabindex="0"
          ng-focus="versionTooltipIsOpen = !versionTooltipIsOpen"
          tooltip-trigger="outsideClick"
          tooltip-is-open="versionTooltipIsOpen"
          ng-mouseenter="versionTooltipIsOpen = !versionTooltipIsOpen"
          uib-tooltip="Specify a version"
          tooltip-placement="top"
          aria-label="Specify a version"></span>
    <p class="input-group" ng-init="vm.updateVersions()">
      <select name="version" id="version" class="form-control" ng-model="vm.config.version"
              ng-change="vm.updateVersionEnd()">
        <option ng-repeat="version in vm.versions | orderBy: 'name'" value="{{version}}">{{version.name}}</option>
      </select>
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="vm.config.filterWithVersion=false" type="button">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
      </span>
    </p>
  </div>

  <div ng-if="vm.config.filterWithAssigned">
    <label for="assigned_to_id">Assigned To</label>
    <span class="grey glyphicon glyphicon-info-sign ng-scope"
          tabindex="0"
          ng-focus="assignedToTooltipIsOpen = !assignedToTooltipIsOpen"
          tooltip-trigger="outsideClick"
          tooltip-is-open="assignedToTooltipIsOpen"
          ng-mouseenter="assignedToTooltipIsOpen = !assignedToTooltipIsOpen"
          uib-tooltip-html="assignedToTooltip"
          tooltip-placement="top"
          aria-label="Get issues which are assigned to the given user ID"></span>
    <div class="input-group">
      <input name="assigned_to_id" id="assigned_to_id" class="form-control" ng-model="config.assigned_to_id">
      </input>
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="vm.config.filterWithAssigned=false" type="button">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
      </span>
    </div>
  </div>

  <div ng-if="vm.config.filterWithTracker">
    <label for="tracker">Tracker</label>
    <span class="grey glyphicon glyphicon-info-sign ng-scope"
          tabindex="0"
          ng-focus="trackerTooltipIsOpen = !trackerTooltipIsOpen"
          tooltip-trigger="outsideClick"
          tooltip-is-open="trackerTooltipIsOpen"
          ng-mouseenter="trackerTooltipIsOpen = !trackerTooltipIsOpen"
          uib-tooltip-html="trackerTooltip"
          tooltip-placement="top"
          aria-label="show Ideal-line Tooltip"></span>
    <div class="input-group" ng-init="vm.updateTracker()">
      <select name="tracker" id="tracker" class="form-control" ng-model="vm.config.tracker">
        <option ng-repeat="tracker in vm.trackers | orderBy: 'name'" value="{{tracker}}">{{tracker.name}}</option>
      </select>
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="vm.config.filterWithTracker=false" type="button">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
      </span>
    </div>
  </div>

  <div class="form-group">
    <input type="checkbox" name="showIdeal" ng-model="config.showIdeal"> Show ideal line
    <span class="grey glyphicon glyphicon-info-sign ng-scope"
          tabindex="0"
          ng-focus="showIdealTooltipIsOpen = !showIdealTooltipIsOpen"
          tooltip-trigger="outsideClick"
          tooltip-is-open="showIdealTooltipIsOpen"
          ng-mouseenter="showIdealTooltipIsOpen = !showIdealTooltipIsOpen"
          uib-tooltip="choose a tracker type like bug, feature or support"
          tooltip-placement="top"
          aria-label="choose a tracker type like bug, feature or support"></span>
  </div>

  <div>
    <label for="period">Period</label>
    <span class="grey glyphicon glyphicon-info-sign ng-scope"
          tabindex="0"
          ng-focus="periodTooltipIsOpen = !periodTooltipIsOpen"
          tooltip-trigger="outsideClick"
          tooltip-is-open="periodTooltipIsOpen"
          ng-mouseenter="periodTooltipIsOpen = !periodTooltipIsOpen"
          uib-tooltip="select the period for which the graph is to be shown"
          tooltip-placement="top"
          aria-label="select the period for which the graph is to be shown"></span>
    <p class="input-group">
      <input id="period" name="period" class="form-control" datepicker-options="vm.dateOptions"
             is-open="vm.popup1.opened"
             ng-model="vm.config.timespan.fromDateTime"
             placeholder="YYYY-MM-DD (from)" show-button-bar="false" type="text" uib-datepicker-popup="{{format}}"
             ng-required="true"/>
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="vm.open1()" type="button">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </p>
    <p class="input-group">
      <input class="form-control" datepicker-options="vm.dateOptions" is-open="vm.popup2.opened"
             ng-model="vm.config.timespan.toDateTime"
             placeholder="YYYY-MM-DD (to)" show-button-bar="false" type="text" uib-datepicker-popup="{{format}}"
             ng-required="true"/>
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="vm.open2()" type="button">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </p>
  </div>
</form>
